body {
  .tm-preload {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1000;
    img {
      display: block;
      width: 100px;
      height: 100px;
      animation: loading 0.6s linear 0s infinite alternate both;
    }
  }
}